<% include ./partials/boilerplate %>

<div class='container'>
    <h1><%= message %></h1>
    <div class="homelinks">
     <a class='firstlink' href='/auth/register'>Register</a>
    <a class='secondlink' href='/auth/login'>Log In</a>
    </div>
</div>

<% include ./partials/end %>